doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title タイトル
        link(href="/css/style.css", rel="stylesheet")
    body
        template#child-template
            input(v-model="msg")
            button(v-on:click="notify") Dispatch Event
        div#events-example
            p Message: {{messages | json}}
            child
        script(type="text/javascript", src="/node_modules/vue/dist/vue.min.js")
        script(type="text/javascript", src="/js/index.js")
